/* Give your page a fun background color */
body {
    background-color: #4ABDAC;
}
/* Make the header and footer a different color from the background */

header {
    background-color: #F7B733;
    color: #FC4A1A
}

footer {
    background-color: #F7B733;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color: #FC4A1A;
    text-align: center;
}

/* Put a border around your image */
img {
    border: 5px solid black;
    
}

/* Change the font-family of your list */
ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
}